extends ../layouts/main-layout
block content
    //include ../partials/navbar
    div.container
        div.offset-lg-2
            include ../partials/title
        div.row
            div.col-lg-8.mx-auto
                if feedback
                    div.shadow-lg.alert.alert-danger.alert-dismissible.fade.show(role="alert")
                        i.fas.fa-times &nbsp;
                        strong #{feedback.error}
                        button.btn-close(type="button"  data-bs-dismiss="alert" aria-label="Close")
                div.card.p-3.shadow.table-responsive
                    div.card-body
                        h4.card-title #{title} Information
                        form(action=`/account/new-password` method="POST")
                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                            input(type="hidden" name="token" value=`${token}`)
                            div.row.p-1
                                label.form-label.mb-0(for="password") Password
                                    input.form-control#password(type="password" name="password" aria-describedby="Password")
                            div.p-1
                                button.btn.btn-primary.float-end.text-uppercase(type="submit") #{title}

