extends ../layouts/main-layout
block content
    //include ../partials/navbar
    div.container
        div.offset-lg-2
            include ../partials/title
        div.row
            div.col-lg-8.mx-auto
                if feedback
                    if feedback.status === "error"
                        div.shadow-lg.alert.alert-danger.alert-dismissible.fade.show(role="alert")
                            i.fas.fa-times &nbsp;
                            strong #{feedback.message}
                            button.btn-close(type="button"  data-bs-dismiss="alert" aria-label="Close")
                    if feedback.status === "info"
                        div.shadow-lg.alert.alert-success.alert-dismissible.fade.show(role="alert")
                            i.fas.fa-check &nbsp;
                            strong #{feedback.message}
                            button.btn-close(type="button"  data-bs-dismiss="alert" aria-label="Close")
                div.card.p-3.shadow.table-responsive
                    div.card-body
                        h4.card-title #{title} Information
                        form(action=`/account/reset-password` method="POST")
                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                            div.row.p-1
                                label.form-label.mb-0(for="email") Email
                                    input.form-control#email(type="email" name="email" aria-describedby="Email")
                            div.p-1
                                button.btn.btn-primary.float-end.text-uppercase(type="submit") #{title}

