div.carousel.slide#carouselExampleIndicators(data-bs-ride="carousel")
    div.carousel-indicators
        button.active(type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0" aria-current="true" aria-label="Slide 1")
        button(type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1" aria-label="Slide 2")
        button(type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2" aria-label="Slide 3")
        button(type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="3" aria-label="Slide 4")
        button(type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="4" aria-label="Slide 5")
        button(type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="5" aria-label="Slide 6")
        button(type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="6" aria-label="Slide 7")
        button(type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="7" aria-label="Slide 8")
        button(type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="8" aria-label="Slide 9")
    div.carousel-inner
        div.carousel-item.active
            img.d-block.w-100.img-fluid.rounded-3(src="/img/slider1.jpg" alt="...")
        div.carousel-item
            img.d-block.w-100.img-fluid.rounded-3(src="/img/slider2.jpg" alt="...")
        div.carousel-item
            img.d-block.w-100.img-fluid.rounded-3(src="/img/slider3.jpg" alt="...")
        div.carousel-item
            img.d-block.w-100.img-fluid.rounded-3(src="/img/slider4.jpg" alt="...")
        div.carousel-item
            img.d-block.w-100.img-fluid.rounded-3(src="/img/slider5.jpg" alt="...")
        div.carousel-item
            img.d-block.w-100.img-fluid.rounded-3(src="/img/slider6.jpg" alt="...")
        div.carousel-item
            img.d-block.w-100.img-fluid.rounded-3(src="/img/slider7.jpg" alt="...")
        div.carousel-item
            img.d-block.w-100.img-fluid.rounded-3(src="/img/slider8.jpg" alt="...")
        div.carousel-item
            img.d-block.w-100.img-fluid.rounded-3(src="/img/slider9.jpg" alt="...")
    button.carousel-control-prev(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.visually-hidden Previous
    button.carousel-control-next(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.visually-hidden Next
