extends ../../layouts/main-layout

block content
    include ../../partials/navbar
    div.container
        div.offset-lg-1.col-md-10
            include ../../partials/title
            if feedBack
                div#alert(style="display:none;")
                    div.ms-2.alert.py-3.shadow-lg(class=(feedBack.status ? "alert-success" : 'alert-danger') role="alert")
                        i.fas.fa-check &nbsp;&nbsp;
                        strong The product named
                                strong.text-primery &nbsp"#{feedBack.name}"&nbsp
                        strong has been&nbsp;
                        if feedBack.status === "create"
                            strong CREATED
                        else if feedBack.status === "update"
                            strong UPDATED.
                        else if feedBack.status === "delete"
                            strong DELETED.
        div.row
            div.col-lg-10.mx-auto
                div.card.shadow
                    div.card-body
                        div.row.p-3
                            div.card-title
                                form.row.g-2.float-end(method="post" action="products")
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                    div.col-auto
                                        input.form-control.form-control-sm.me-2(type="search" name="search" placeholder="Category Search..." aria-label="Category Search...")
                                    div.col-auto
                                        button.btn.btn-sm.btn-outline-success(type="submit") Search
                                    div.col-auto
                                        a.btn.btn-sm.btn-outline-success(href="/admin/form-category")
                                            i.fas.fa-plus &nbsp;
                                            span ADD
                            div.table-responsive
                                table.table.table-hover.align-middle
                                    thead.fw-bolder
                                        tr
                                            th(th scope="row") Name
                                            th(scope="col") Description
                                            th(scope="col" width="100") Actions
                                    tbody
                                        if categories
                                            each category in categories
                                                tr
                                                    td #{category.name}
                                                    if category.description && category.description.length > 50
                                                        td #{category.description.slice(0, 50)}
                                                    else
                                                        td #{category.description}
                                                    td.text-center
                                                        a(href=`/admin/form-category/${category._id}` title="Edit")
                                                            i.fas.fa-edit.fa-lg.text-primary &nbsp;
                                                        a.fas.fa-trash-alt.fa-lg.text-danger(role="button" data-bs-toggle="modal" data-bs-target=`#deleteModal` title=`${category.name} Detail`
                                                            id=`${category._id}`
                                                            name=`${category.name}`
                                                            description=`${category.description}`
                                                            csrf=`${csrfToken}`)
                                        else
                                            tr
                                                th(colspan="7")
                                                    span.display-6 #{"Categories Not Found"}
                            if products
                                //nav(aria-label="...")
                                //    ul.pagination
                                //        li.page-item(class=(products.metatags.hasPreviousPage === false ? 'disabled' : null))
                                //            a.page-link( href=`./products?page=${products.metatags.previousPage.page}&limit=5`) Previous
                                //        each paging in products.metatags.paging
                                //            li.page-item(class=(paging.active === true ? 'active' : null))
                                //                a.page-link( href=`./products?page=${paging.page}&limit=5`) #{paging.page}
                                //        fieldset(disabled)
                                //            li.page-item(class=(products.metatags.hasNextPage === false ? 'disabled' : null))
                                //                a.page-link( href=`./products?page=${products.metatags.nextPage.page}&limit=5`) Next

    include ./deleteModal

    if feedBack
        script.
            setTimeout(_ => {
                $("#alert").slideDown(700)
            }, 500)
            setTimeout(_ => {
                $("#alert").slideUp(700)
            }, 4500)
















