extends ../layouts/main-layout
include ../mixins/product-list-card
block content
    include ../partials/navbar
    div.container
        div.offset-lg-1
            include ../partials/title
        div.row
            div.col-lg-10.mx-auto
                if products.length >0
                    div.card.shadow
                        div.card-body
                            div.row.p-3
                                div.card-title
                                    form.row.g-2.float-end(action="/create-order" method="post")
                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                        div.col-auto
                                            a.btn.btn-sm.btn-outline-success(href="/") Devam et
                                        div.col-auto
                                            button.btn.btn-sm.btn-outline-success(type="submit") Tamamla
                                div.table-responsive
                                    table.table.table-hover.align-middle
                                        thead
                                            tr
                                                th(scope="col") #
                                                th(scope="col") Image
                                                th(scope="col") Name
                                                th(scope="col") Description
                                                th(scope="col") Quantity
                                                th(scope="col") Price
                                                th(scope="col") Total Price
                                                th(scope="col" width="100") Actions
                                        tbody

                                            each product,index in products
                                                tr
                                                    th.fw-bold(scope="row") #{index+1}
                                                    td
                                                        img.figure-img(src=`/img/${product.product.imageUrl}` alt=`${product.name}` title=`${product.name}` width="50")
                                                    td #{product.product.name}
                                                    if product.description && product.description.length > 50
                                                        td #{product.product.description.slice(0, 50)}
                                                    else
                                                        td #{product.product.description}
                                                    td.text-center #{product.quantity}
                                                    td.text-center
                                                        span.fas.fa-lira-sign.smal &nbsp;#{product.product.price}
                                                    td.text-center
                                                        span.fas.fa-lira-sign.smal &nbsp;#{product.product.price*product.quantity}
                                                    td.text-center
                                                        form(action="/delete-cartitem" method="post")
                                                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                                            //a(href=`/admin/form-product/${product.id}` title="Edit")
                                                            //    i.fas.fa-edit.fa-lg.text-primary &nbsp;
                                                            button.fas.fa-trash-alt.fa-lg.text-danger(type="submit" name="productId" value=`${product._id}` title=`${product.product.name} Delete`)

                                        tfoot
                                            td(colspan="7")
                                            - let total = 0
                                            each product in products
                                                - total += (product.product.price * product.quantity)
                                            td.text-center
                                                span.fas.fa-lira-sign.smal &nbsp;#{total}
                                            td
                else
                    h1 No Product
                    include ../admin/product/deleteModal
